<div style="text-align: center;">
    <h2>Articulos:</h2>
</div>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price U</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of articulos">
            <td>
                {{articulo.name}}
            </td>
            <td>
                {{articulo.description}}
            </td>
            <td>
                {{articulo.pu}}
            </td>
        </tr>
</table>

<div class="col-sm-6">
    
    <label class="mx-1" for=" ">Nuevo Articulo:</label>
    <input type="text" class="form-control form-control-sm" id="articulo"
     [(ngModel)]="newArticulo" (keyup.enter)="onEnter()" />
</div>



<div style="text-align: center;">
    <h2>Departamentos:</h2>
</div>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Acction</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let department of departments; let i = index">
            <td><button class="btn btn-outline-primary btn-sm mx-1" (click)="deleteDepartment(i)">Delete</button></td>
            <td>{{department}}</td>
        </tr>
    </tbody>
</table>
<input type="text" class="form-control form-control-sm" id="departamento"
     [(ngModel)]="newDepartment" (keyup.enter)="onUpload()" />
<div class="mb-3 text-center">
    <button class="btn btn-outline-dark btn-sm btn-info mt-3" (click)="onGoHome()">Go home!</button>
  </div>


